//-----------------------------------/ Основные цвета страницы /---------------------------------------
 // Цвет шрифта по умолчанию
$mainBgColor: #fff;

//-----------------------------------/ Палетка /---------------------------------------
$titleColor: #121212;
$titleBookColor: #fff;
$bookMarcColor: #FAFAFA;
$categoryColor: #DEDEDE;
$cardBackground: #B8B8B8;

