.products {
  color: #55555A;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
}

.text {
  color: #55555A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}