.header {
  min-height: 70px;
  background-color: #2f3236;
  display: flex;
  justify-content: start;
  align-items: center;
}

.content {
  margin-left: 50px;
}

.logo {
  width: 237px;
  height: 56px;
}